---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import LeftSidebar from "../components/LeftSidebar.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <header class="">
    <Header homel="/index.html" docsl="../../" membersl="./members.html" />
  </header>
  <body>
    <main class="">
      <div class="flex flex-row">
        <aside
          class="flex-none overflow-x-visible"
          style="width: 20%;"
        >
          <LeftSidebar />
        </aside>
        <div>
          <article class="flex-grow overflow-auto" style="height: 90vh">
            <!-- Content here... -->
            <div class="p-4">
              {
                heroImage && (
                  <img class="md:w10" src={heroImage} alt="" />
                )
              }
            </div>
            <div class="prose">
              <div class="title">
                <div class="date">
                  <FormattedDate date={pubDate} />
                  {
                    updatedDate && (
                      <div class="last-updated-on">
                        Last updated on <FormattedDate date={updatedDate} />
                      </div>
                    )
                  }
                </div>
                <h1>{title}</h1>
                <hr />
              </div>
              <slot />
            </div>
          </article>
        </div>
        <aside class="flex-none m-10" style="width: 20%;">
          目次
          <ul id="toc"></ul>
        </aside>
      </div>
    </main>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Find h2 elements within the content area
      const headings = document.querySelectorAll("article h2");
      const toc = Array.from(headings).map((h2) => ({
        title: h2.innerText,
        id: h2.id,
      }));
      const tocElement = document.getElementById("toc");

      if (tocElement) {
        toc.forEach((item) => {
          const listItem = document.createElement("li");
          const link = document.createElement("a");
          link.href = `#${item.id}`;
          link.textContent = item.title;
          listItem.appendChild(link);
          tocElement.appendChild(listItem);
        });
      }
    });
  </script>
</html>
